<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <imagezoom>
            <general>
                <zoomType>2</zoomType>
                <lensShape>1</lensShape>
                <lensFadeIn>200</lensFadeIn>
                <lensFadeOut>200</lensFadeOut>
                <lensSize>200</lensSize>
                <lensBorderSize>1px</lensBorderSize>
                <lensBorderColour>#cccccc</lensBorderColour>
                <containLensZoom>1</containLensZoom>
                <lensColour>#cccccc</lensColour>
                <lensOpacity>0.6</lensOpacity>
                <windowgroup>
                    <zoomWindowWidth>400</zoomWindowWidth>
                    <zoomWindowHeight>400</zoomWindowHeight>
                    <zoomWindowPosition>2</zoomWindowPosition>
                    <zoomWindowOffetx>20</zoomWindowOffetx>
                    <zoomWindowOffety>0</zoomWindowOffety>
                    <zoomWindowFadeIn>200</zoomWindowFadeIn>
                    <zoomWindowFadeOut>200</zoomWindowFadeOut>
                </windowgroup>
                <responsive>1</responsive>
                <scrollZoom>1</scrollZoom>
                <imageCrossfade>1</imageCrossfade>
                <showLoadingIcon>0</showLoadingIcon>
                <borderSize>1px</borderSize>
                <borderColour>#cccccc</borderColour>
                <gallery>imagezoom-gallery</gallery>
                <responsiveRange>220-900</responsiveRange>
                <easing>0</easing>
                <tint>0</tint>
                <easingAmount>12</easingAmount>
                <tint>0</tint>
            </general>
        </imagezoom>
    </default>
</config>